.bg{
    &-primary, &-st-gradient {
        * { color: $st-color; }
        li a:hover, li:hover i, .open-menu:hover * {
            color: $st-light;
        }
        @media (min-width: $menu-mob){
            li li a:hover {
                color: $primary;
            }
        }
    }
    &-primary {
        & {
            background-color: $primary;
        }
        @media (min-width: $menu-mob){
            .menu-toggle ul, .menu-hover ul {
                &, &:before {
                    background-color: $st-light;
                }
            }
        }
    }
    &-st-gradient {
        & {
            background-image: $st-gradient;
        }
        @media (min-width: $menu-mob) {
            .menu-toggle ul, .menu-hover ul{
                background-image: $st-gradient;
            }
        }
    }
    &-secundary, &-nd-gradient {
        * { color: $nd-color; }
    }
    &-secundary {
        &, .menu-toggle ul, .menu-hover ul{
            background-color: $primary;
        }
    }
    &-nd-gradient {
        &, .menu-toggle ul, .menu-hover ul{
            background-image: $st-gradient;
        }
    }
    &-dark {
        &, .menu-toggle ul, .menu-hover ul{
            background-color: $dark-color;
        }
        * { color: $light-color; }
    }
    &-light {
        &, .menu-toggle ul, .menu-hover ul{
            background-color: $light-color;
        }
        * { color: $dark-color; }
    }
}