.alert {
    position: relative;
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    &-float {
        position: fixed;
        
        &-br {
            bottom: 0;
            right: 0;
        }
        &-bl {
            bottom: 0;
            left: 0;
        }
        &-tr {
            top: $menu-size;
            right: 0;
        }
        &-tl {
            top: $menu-size;
            left: 0;
        }
    }
    
    &-success, &-danger, &-warning {
        border: 1px solid;
    }
    &-primary {
        background-color: $primary;
        border-color: $st-dark;
        .close-times:hover, .close-times:active {
            color: $st-dark;
        }
        * {
            color: $st-color;
        }
    }
    &-secundary {
        background-color: $secundary;
        border-color: $nd-dark;
        .close-times:hover, .close-times:active {
            color: $nd-dark;
        }
        * {
            color: $nd-color;
        }
    }
    &-terciary {
        background-color: $terciary;
        border-color: $td-dark;
        .close-times:hover, .close-times:active {
            color: $td-dark;
        }
        * {
            color: $td-color;
        }
    }
    &-success {
        background-color: #063;
        border-color: #050;
        .close-times:hover, .close-times:active {
            color: #9E9;
        }
    }
    &-danger {
        background-color: #E22;
        border-color: #E11;
        .close-times:hover, .close-times:active {
            color: #F99;
        }
    }
    &-warning {
        background-color: #BB2;
        border-color: #990;
        .close-times:hover, .close-times:active {
            color: #DD5;
        }
    }
    &-success *, &-danger *, &-warning * {
        color: #FFF;
    }
}