.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-right: -4px;
    margin-top: 10px;
    *zoom: 1;
    *display: inline;
}

@media (min-width: 480px) {
  .col-2 { width: 50%; }
}

@media (min-width: 728px) {
  .col-3 { width: 33.3333%; }
}
.col-4 {
    @media (min-width: 730px) {
        &{ width: 25%; }
    }
    @media (min-width: 480px) and (max-width: 729px) {
        & { width: 50%; }
    }
}

@media (min-width: 990px) {
  .col-5 { width: 20%; }
  .col-40 { width: 40%; }
  .col-60 { width: 60%; }
}
@media (min-width: 600px) and (max-width: 989px) {
  .col-5 { width: 33.333%; }
  .col-40, .col-60 { width: 100%; }
}
.col-40, .col-60 { padding: 0; }

@media (min-width: 992px) {
  .col-content { width: 70%; }
  .col-sidebar { margin-top: 1px;  width: 30%; }
}