@charset "UTF-8";

@import 'KAS-config';

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: $main-font;
    outline: none;
}

:root {
    font-size: 10pt;
    @media (min-width: 1050px) and (max-width: 1300px){
        font-size: 14pt;
    }
    @media (min-width: 1300px){
        font-size: 12pt;
    }
}

// HTML Native elements
@import './html-elements/body.scss';
@import './html-elements/img.scss';
@import './html-elements/table.scss';

// Atoms
@import './atoms/alert.scss';
@import './atoms/background.scss';
@import './atoms/buttons.scss';
@import './atoms/card.scss';
@import './atoms/footer.scss';
@import './atoms/tables.scss';
@import './atoms/text.scss';


// Molecules
@import './mols/align.scss';
@import './mols/button-groups.scss';
@import './mols/cursor-classes.scss';
@import './mols/form.scss';
@import './mols/grid-system.scss';
@import './mols/menu.scss';
@import './mols/modal.scss';
@import './mols/parallax.scss';