table {
    width: 100%;
    td { padding: 5px; }
    &:not(.form) {
        @media (max-width: 700px) {
            thead { display: none; }
            tr td, tr th {
                width: 100% !important;
                display: block;
            }
        }
        @media (min-width: 700px) and (max-width: 1200px){
            tr td, tr th {
                width: calc(50% - 13px) !important;
                display: inline-block;
            }
            tr td:nth-child(odd), tr th:nth-child(odd) {
                border-right: 1px dashed #666;
            }
        }
    }
}